.netshoes-logo img {
  height: 40px; 
  width: auto;
  margin-right: 10px; 
  cursor: pointer;
}

.netshoes-title {
  font-size: 24px; 
  font-weight: bold;
  text-decoration: none;
  color: white; 
  cursor: pointer;
  margin-right: 20px; 
}

.netshoes-menu {
  margin-left: auto; 
}

.netshoes-menu a {
  text-decoration: none;
  color:white; 
  margin-right: 15px;
  cursor: pointer;
}

.netshoes-login {
  color: red;
  padding: 8px 15px;
  border-radius: 5px; 
}
.toolbar-black {
  background-color: black;
  color: white; 
}
